.inverseElement {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
}

.inverseElement__top {
  height: var(--mantine-spacing-xs);
  width: 100vw;
  position: fixed;
  z-index: 100;
  backdrop-filter: blur(2rem);
}

.inverseElement__bottom {
  height: var(--mantine-spacing-xs);
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 100;
  backdrop-filter: blur(2rem);
}

.navigationBar__outer {
  width: calc(100vw - 2 * var(--mantine-spacing-xs));
  height: calc(100vh - 2 * var(--mantine-spacing-xs));
  position: fixed;
  border-radius: var(--mantine-radius-md);
  border: 0.08rem solid var(--mantine-color-greenGrey-3);
  margin: var(--mantine-spacing-xs);
  z-index: -1;
}

.navigationBar__left {
  width: calc(2 * var(--mantine-spacing-xl));
  height: calc(100vh - 2 * var(--mantine-spacing-xs));
  position: fixed;
  border-right: 0.08rem solid var(--mantine-color-greenGrey-3);
  margin: var(--mantine-spacing-xs) 0 0 var(--mantine-spacing-xs);
  z-index: 100;
}

.navigationBar__top {
  height: calc(2 * var(--mantine-spacing-xl));
  position: fixed;
  right: 0;
  border-radius: 0 0 var(--mantine-radius-md) var(--mantine-radius-md);
  border: 0.08rem solid var(--mantine-color-greenGrey-3);
  border-top: none;
  margin-right: calc(2 * var(--mantine-spacing-xl) + var(--mantine-spacing-xs));
  margin-top: var(--mantine-spacing-xs);
  z-index: 100;
  display: flex;
  padding: 0 var(--mantine-spacing-lg );
  backdrop-filter: blur(2rem);
  background-color: var(--mantine-color-primary-1);
}
